html {
	background: url(../images/noisedrome.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	color: #f3f3f3;
	/*background-color: #000;
	background-repeat:no-repeat;
    	background-position: center center;
    	background-image:url(../images/noisedrome.jpg);
	background-attachment: fixed;*/
	font-family: 'Chango', cursive;
	text-shadow:-1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}

a {
	text-decoration: none;
}

h1 {
	text-align:center;
	font-size: 6.2em;
	margin-bottom: 0px;
	margin-top: 15px;
}

#years {
	text-align:center;
	font-size: 1.2em;
	/*margin-top:10px;*/
}

#bandcamp {
	position:fixed;
	bottom: 30px;
	left: 40px;
	margin: 0px;
}

#player {
	/*position: fixed;
	bottom: 35px;
	left: 41%;*/
	text-align:center;
}

#share {
	position:fixed;
	bottom: 30px;
	right: 10px;
}
#share a {
	margin: 0px 15px;
}
